*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

/*NAVIGATION DECOR*/
nav li{
	font-size: 1.2rem;
	font-weight: normal;
}

nav img{
	display: block;
}

.dropdown-menu{
	border: none;
}


/*INTRO DECOR*/
.intro{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

.welcome_pic{
	background-size: contain;
    margin: 0;
    padding: 0;
    max-width: 50%;
    flex: 0 0 50%;
}

.welcome_pic img{
	width: 100%;
    object-fit: cover;
    user-select: none;
    vertical-align: middle;
    border-style: none;
}

.welcome_pic_two{
	display: none;
}

.welcome_intro{
	width: 100%;
	padding: 20px;
	text-align: center;
	align-content: center;
	color: #2d2d2d;
	vertical-align: middle;
	margin-top: 10%;
}

.welcome_intro h1{
    margin-bottom: 5%;
	font-weight: bolder;

}

.welcome_intro h5{
	font-weight: normal;
	margin-bottom: 6%;
}

.welcome_intro button{
	font-size: 1.3rem;
}

/* Removing outline from the buttons */
.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus{
	outline: none ;
	box-shadow: none;
	background: black;
	color: white;
}

.dropdown-item:focus, .dropdown-item:active, .dropdown-item:active:focus{
	background-color: #dbdcdb;
	color: black;
}


/* MEDIA QUERIES */
@media screen and (max-width: 767px){
nav {
	margin-bottom: 1%;
}
nav li{
	font-size: 1.2rem;
	font-weight: normal;
	text-align: center;
}

.dropdown-menu{
	border: none;
}


.intro{
	margin-top: 10%;
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.welcome_pic{
	display: none;
}

.welcome_pic_two{
	display: block;
}

.welcome_pic_two img{
	width: 100%;
/*	border-radius: 50%;*/
	margin-top: 20%;
}

.welcome_intro{
	padding: 5px;
}

.welcome_intro h1{
	font-size: 3rem;
	font-weight: 1000;
	margin-bottom: 5%

}

.welcome_intro h5{
	font-weight: normal;
	margin-bottom: 10%;
}

.welcome_intro button{
	font-size: 1.3rem;
}

/* Removing outline from the buttons */
.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus{
	outline: none ;
	box-shadow: none;
	background: black;
	color: white;
}

.dropdown-item:focus, .dropdown-item:active, .dropdown-item:active:focus{
	background-color: #dbdcdb;
	color: black;
}
}



/* MEDIA QUERIES IPAD*/
@media screen and (min-width:768px) and (max-width: 1023px){

nav li{
	font-size: 1.5rem;
	font-weight: normal;
	text-align: center;
	align-content: center;
	align-items: center;
}

.dropdown-menu{
	border: none;
}


.intro{
	margin-top: 10%;
	margin-bottom: 0;
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.welcome_pic{
	display: none;
}

.welcome_pic_two{
	display: block;
}

.welcome_pic_two img{
	width: 100%;
/*	border-radius: 50%;*/
	margin-top: 10%;
}

.welcome_intro{
	padding: 5px;
}

.welcome_intro h1{
	font-size: 4rem;
	font-weight: 1000;
	margin-bottom: 5%

}

.welcome_intro h5{
	font-weight: normal;
	margin-bottom: 10%;
}

.welcome_intro button{
	font-size: 1.3rem;
}

/* Removing outline from the buttons */
.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus{
	outline: none ;
	box-shadow: none;
	background: black;
	color: white;
}

.dropdown-item:focus, .dropdown-item:active, .dropdown-item:active:focus{
	background-color: #dbdcdb;
	color: black;
}
}








.about{
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

.about_pic{
	background-size: contain;
    margin: 0;
    padding: 0;
    max-width: 50%;
    flex: 0 0 50%;
}

.about_pic img{
	width: 100%;
    object-fit: cover;
    user-select: none;
    vertical-align: middle;
    border-style: none;
}


.about_intro h1{
	font-size: 5rem;
	font-weight: bolder;
	margin-bottom: 5%

}

.about_intro p{
	padding: 20px 20px 0 20px;
	text-align: left;
	text-indent: 30px;
	font-size: 1.2rem;
}

.second_p{
	font-weight: bolder;
}




/* MEDIA QUERIES */
@media screen and (max-width: 767px){
.about{
	margin-top: 20%;
	width: 100%;
	overflow: hidden;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.about_pic{
	background-size: cover;
	margin: 3% 0 0 0;
	padding: 0;
	max-width: 100%;
}

.about_pic img{
	width: 100%;
	height: 50vh;
	object-fit: contain;
	user-select: none;
	vertical-align: middle;
	border-style: none;
}

.about_intro h1{
	font-size: 3rem;
	font-weight: 1000;
	margin-bottom: 5%;

}

.about_intro p{
	padding: 20px;
	text-align: left;
	text-indent: 30px;
	font-size: 1.2rem;
}

.second_p{
	font-weight: bolder;
}

}



/* MEDIA QUERIES IPAD*/
@media screen and (min-width:768px) and (max-width: 1023px){

.about{
	margin-top: 10%;
	width: 100%;
	overflow: hidden;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.about_pic{
	width: 100%;
	overflow: none;
	padding: 0;
	margin: 0;
}

.about_intro h1{
	font-size: 4rem;
	font-weight: 1000;
	margin-bottom: 3%;

}

.about_intro p{
	padding: 20px;
	text-align: left;
	text-indent: 30px;
	font-size: 1.5rem;
}

.second_p{
	font-weight: bolder;
	text-align: center;
}


.about_pic img{
	width: 100%;
}

}






.hours{
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
}

.hours_heading h1{
	font-size: 5rem;
	font-weight: 1000;
	margin-bottom: 3%;
}

.hours_heading li{
	text-decoration: none;
	font-size: 1.3rem;
	list-style: none;
	margin-bottom: .5rem;
}

.closed{
	color: red;
}




/* MEDIA QUERIES */
@media screen and (max-width: 767px){

.hours{
	margin-top: -1%;
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
}

.hours_heading h1{
	font-size: 3rem;
	font-weight: 1000;
	margin-bottom: 10%;
}

.hours_heading li{
	text-decoration: none;
	font-size: 1.2rem;
	list-style: none;
	margin-bottom: .5rem;
	text-align: center;
}

.closed{
	color: red;
}

}



/* MEDIA QUERIES IPAD*/
@media screen and (min-width:768px) and (max-width: 1023px){

.hours{
	margin-top: 3%;
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
}

.hours_heading h1{
	font-size: 4rem;
	font-weight: 1000;
	margin-bottom: 5%;
	margin-top: 3%;
}

.hours_heading li{
	text-decoration: none;
	font-size: 1.5rem;
	list-style: none;
	margin-bottom: .5rem;
	text-align: center;
}

.closed{
	color: red;
}

}





.joining{
	margin-top: 3%;
	margin-bottom: 5%;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	align-items: center;
	align-content: center;
}

.join h1{
	font-size: 5rem;
	font-weight: 1000;
	margin-bottom: 3%;
}

.join p{
	font-size: 1.2rem; 
}

#join_con{
	margin-top: 1.5%;
	background-color: #000000;
	color: #ffffff;
}

#join_con:hover{
	background-color: #ffffff;
	color: #000000;
}




/* MEDIA QUERIES */
@media screen and (max-width: 767px){

.joining{
	margin-top: 5%;
	margin-bottom: 10%;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	align-items: center;
	align-content: center;
}

.join h1{
	font-size: 3rem;
	font-weight: 1000;
	margin-bottom: 5%;
}

.join p{
	font-size: 1.2rem; 
	padding: 20px;
}

#join_con{
	margin-top: 2%;
	background-color: #000000;
	color: #ffffff;
	font-size: 1.2rem;
}

#join_con:hover{
	background-color: #ffffff;
	color: #000000;
}
}



/* MEDIA QUERIES IPAD*/
@media screen and (min-width:768px) and (max-width: 1023px){

.joining{
	margin-top: 5%;
	margin-bottom: 10%;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	align-items: center;
	align-content: center;
}

.join h1{
	font-size: 4rem;
	font-weight: 1000;
	margin-bottom: 3%;
}

.join p{
	font-size: 1.5rem; 
	padding: 20px;
}

#join_con{
	margin-top: 2%;
	background-color: #000000;
	color: #ffffff;
	font-size: 1.5rem;
}

#join_con:hover{
	background-color: #ffffff;
	color: #000000;
}

}







.upcomingevents{
	width: 100%;
	background-color: #ffffff;
	color: #000000;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.upcomingevents_pic{
	margin: 3% 0 1% -2%;
}

.events h1{
	margin-bottom: 8%;
	font-weight: bold;
	font-size: 4rem;
}

.events p{
	font-size: 1.3rem;
	margin-bottom: 5%;
}

#learnmore{
	border: none;
	border-bottom: 1px solid black;
	border-radius: 0;
	font-weight:bolder;
}




/* MEDIA QUERIES */
@media screen and (max-width: 767px){

	.upcomingevents{
		padding-top: 25px;
		margin-top: 0;
		background-color: #f5f5f7;
		color: #000000;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
	}
	
	.upcomingevents_pic{
		display: none;
	}
	
	.events h1{
		margin-bottom: 5%;
		font-weight: bold;
		font-size: 3rem;
		overflow: hidden;
	}
	
	.events p{
		font-size: 1.2rem;
		margin-bottom: 5%;
		padding: 15px;
	}
	
	#learnmore{
		border: none;
		border-bottom: 1px solid black;
		border-radius: 0;
		font-weight:bolder;
		margin-bottom: 10%;
	}
	
}



/* MEDIA QUERIES IPAD*/
@media screen and (min-width:768px) and (max-width: 1023px){

	.upcomingevents{
		margin-top: 0;
		background-color: #f5f5f7;
		color: #000000;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
	}
	
	.upcomingevents_pic{
		display: block;
		width: 100%;
		margin-bottom: 5%;
	}
	
	.events h1{
		margin-bottom: 5%;
		font-weight: bold;
		font-size: 4rem;
		overflow: hidden;
	}
	
	.events p{
		font-size: 1.3rem;
		margin-bottom: 3%;
		padding: 15px;
	}
	
	#learnmore{
		border: none;
		border-bottom: 1px solid black;
		border-radius: 0;
		font-weight:bolder;
		margin-bottom: 10%;
		font-size: 1.3rem;
	}


}

































/*Photo decoration */
.photos{
	text-align: center;
	align-items: center;
	align-content: center;
	margin-top: 3%;
}

.row{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
}

.column{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.col img{
	padding: 20px;
}



.alert{
	display: hidden;
	text-align: center;
	margin: 2% 0 0 0 ;
}



/* EDITING */

figure.snip1104 {
	/* font-family: 'Raleway', Arial, sans-serif; */
	position: relative;
	overflow: hidden;
	margin: 10px;
	min-width: 220px;
	max-width: 310px;
	max-height: 220px;
	width: 100%;
	background: #000000;
	color: #ffffff;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  
  figure.snip1104 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
  }
  
  figure.snip1104 img {
	max-width: 100%;
	position: relative;
	opacity: 0.4;
  }
  
  figure.snip1104 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  }
  
  figure.snip1104 h2 {
	position: absolute;
	left: 40px;
	right: 40px;
	display: inline-block;
	background: #000000;
	-webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
	transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
	padding: 12px 5px;
	margin: 0;
	top: 50%;
	text-transform: uppercase;
	font-weight: 400;
  }
  
  figure.snip1104 h2 span {
	font-weight: 800;
  }
  
  figure.snip1104:before {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: '';
	background: #ffffff;
	position: absolute;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: rotate(110deg) translateY(-50%);
	transform: rotate(110deg) translateY(-50%);
  }
  
  figure.snip1104 a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
  }
  
  figure.snip1104.blue {
	background: #123851;
  }
  
  figure.snip1104.blue h2 {
	background: #0a212f;
  }
  
  figure.snip1104.red {
	background: #3b3737;
  }
  
  figure.snip1104.red h2 {
	background: #000000;
  }
  
  figure.snip1104.yellow {
	background: #7f5006;
  }
  
  figure.snip1104.yellow h2 {
	background: #583804;
  }
  
  figure.snip1104:hover img,
  figure.snip1104.hover img {
	opacity: 1;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  }
  
  figure.snip1104:hover h2,
  figure.snip1104.hover h2 {
	-webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
	transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  }
  
  figure.snip1104:hover:before,
  figure.snip1104.hover:before {
	-webkit-transform: rotate(110deg) translateY(-150%);
	transform: rotate(110deg) translateY(-150%);
  }



.column img{
	padding: 15px;
	height: auto;
	overflow: hidden;
	text-align: center;
	align-content: center;
	align-items: center;
}





@media screen and (max-width: 767px){
		/*Photo decoration */
.JustPictures{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.photos .row{
	width: 100%;
	overflow: hidden;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	margin: 0 auto;
}

.JustPictures .column{
	width: 100%;
	overflow: hidden;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	margin: 0 auto;
}

.JustPictures img{
	width: 100%;
	align-items: center;
	text-align: center;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0 auto;
}
}


/* MEDIA QUERIES */
@media screen and (max-width: 767px){
.photos{
	width: 100%;
	text-align: center;
	align-items: center;
	margin-top: 10%;
	overflow: hidden;
	margin-bottom: 3%;
	padding-bottom: 5px;
}

.row{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	overflow: hidden;
	text-align: center;
	align-items: center;
}
 
.column{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	overflow: hidden;
}

.column img{
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
	align-content: center;
	align-items: center;

}

}



/* MEDIA QUERIES IPAD*/
@media screen and (min-width:768px) and (max-width: 1023px){

	/*Photo decoration */
.photos{
	text-align: center;
	align-items: center;
	align-content: center;
	margin-top: 10%;
	overflow: hidden;
	margin-bottom: 15%;
}

.row{
	width: 100%;
	display: flex;
	padding: 0;
	margin: 0;
	flex-direction: row;
	justify-content: space-evenly;
}
 
.column{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.column img{
	padding: 15px;
	margin: 0 auto;
}

}











footer{
	text-align: center;
	margin-top: 1.5%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 767px){

	footer{
	text-align: center;
	margin-top: 1.5%;
}

/* MEDIA QUERIES IPAD*/
@media screen and (min-width:768px) and (max-width: 1023px){

	footer{
	text-align: center;
	margin-top: 1.3%;
	font-size: 1.3rem;
}

}
}








/*      -----------------------------------------------------------------------------------------------------------------------        */
/* Cornerstone Login */

#main-holder {
	width: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
	background-color: white;
  }

#login-error-msg {
	width: 100%;
	text-align: center;
	margin: 2% 0 5% 0;
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #8a0000;
	border: 1px solid #8a0000;
	background-color: #e58f8f;
	opacity: 0;
}
  
form{
	margin-top: 0;
}

form input{
	border: 0;
	border-bottom: 1px solid grey;
	width: 100%;
}

form input:active, input:focus{
	outline: none;

}

form button{
	background-color: white;
	color: black;
	padding: 5px 15px 5px 15px;
	border: 1px solid grey;
	border-radius: 5px;
	margin-top: 4%;
	margin-bottom: 40%;
}












/* ---------------------------------------- Manager Page ----------------------------- */
#displayGrt{
	padding: 20px 20px 10px 20px;
	text-align: center;
}

.managerName{
	padding: 20px;
	text-align: center;
	background-color: black;
	color: white;
}

#displayDate{
	padding: 10;
	text-align: center;
	color: grey;
}

.managePeople h4{
	text-align: left;
	margin: 3% 0 0 2.5%;
	padding: 25px;
	color: black;
	font-weight: bolder;
	text-decoration: underline;
}

.managePeople h4{
	margin-bottom: 2%;
}

.managePeople ul{
	text-decoration: none;
	list-style-type: none;
}

.managePeople li{
	text-decoration: none;
	text-align: left;
	margin: 1.5% 0 0 2.5%;
	font-weight: bolder;
}

.managePeople li:hover{
	text-decoration: underline;
	color: rgb(37, 37, 37);
}

#AddPerson{
	margin: 1% 0 0 5%;
}

@media screen and (max-width: 767px){
	.managePeople h4{
		text-align: center;
		margin: 4% 0 0 2.5%;
		padding: 25px;
		color: black;
		font-weight: bolder;
		text-decoration: underline;
	}
	.managePeople li{
		text-decoration: none;
		text-align: left;
		margin: 2% 0 0 2.5%;
		font-weight: bolder;
		font-size: 1.2rem;
	}
}